/* -- Ripple out effect -- */

@-webkit-keyframes ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}

@keyframes ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}

.ripple-out:hover:before,
.ripple-out:focus:before,
.ripple-out:active:before {
	-webkit-animation-name: ripple-out;
	animation-name: ripple-out;
}



.box-text{
	position: relative;
	background: rgb(255,162,0);
	background: linear-gradient(130deg, rgba(255,162,0,1) 0%, rgba(255,108,0,1) 100%);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

.map-textbig{
	color: #3c3c3c;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 0px !important;
	line-height: 30px;
}
.map-textsmall{
	color: #3c3c3c;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 5px;
	letter-spacing: 1px;
}

.container-map {
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 250px 0;
	z-index: 5;
}

.container-map::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	background: url(../images/migrant-map-data.png);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 5;
	overflow: hidden;
}

.container-map .container {
	position: relative;
}

.ripple-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
}

.ripple-out:before {
	content: '';
	position: absolute;
	/*border: 5px solid #05528d;*/
	border: 5px solid #ff7000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: ripple-out;
	animation-name: ripple-out;
}

.container-map .sparks {
	width: 20px;
	height: 20px;
	display: block;
	background: rgb(255,162,0);
	background: linear-gradient(130deg, rgba(255,162,0,1) 0%, rgba(255,108,0,1) 100%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 9;
	opacity: 1;
}



@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 991px) {

	.box-text{
		z-index: 100;
		margin-top: 225px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		height: 85px;
	}
	.map-textbig{
	    font-size: 40px;
	}
	.map-textsmall{
	    font-size: 14px;
	}
	.container-map {
		margin: 0;
		height: auto;
		min-height: 540px;
		padding: 0;
	}
	.container-map .sparks {
		width: 15px;
		height: 15px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		opacity: 1;
	}

	.container-map::before {
		background-size: 100%;
	}

}

@media screen and (max-width: 767px) {

	.container-map {
		height: auto;
		min-height: auto;
	    padding: 135px;
	    margin: 0px -30px;
	    padding-top: 315px;
	}
	.container-map::before {
	    position: absolute;
	    top: 0px;
	    left: 0;
	    height: 100%;
	    display: block;
		background-size: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	}
	.container-map .sparks {
		width: 12px;
		height: 12px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		opacity: 1;
	}
	.map-textbig{
	    font-size: 32px;
		padding-top: 15px;
		padding-bottom: 0px;
		line-height: 15px;
	}
	.map-textsmall{
	    font-size: 10px;
		padding-top: 0px;
		padding-bottom: 5px;
	}
	.box-text{
		margin-left: auto;
		margin-right: auto;
		z-index: 100;
		margin-top: -125px;
		display: block;
		height: 55px;
	}

}
@media screen and (max-width: 660px) {

}



@media screen and (max-width: 500px) {

	.container-map {
		height: auto;
		min-height: auto;
		padding: 17.5%;
		margin: auto;
		padding-top: 200px;
		overflow: hidden;
	}
	.container-map::before {
	    position: absolute;
	    top: 0px;
	    left: 0;
	    height: 100%;
	    display: block;
		background-size: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	}

	.map-textbig{
	    font-size: 15px;
		padding-top: 12px;
		padding-bottom: 0px;
		line-height: 0px;
		font-weight: 600;
	}
	.map-textsmall{
	    font-size: 6px;
		padding-top: 0px;
		padding-bottom: 5px;
		font-weight: 400;
		letter-spacing: 0.5px;
	}

	.box-text{
		margin-top: -90px;
		margin-left: auto;
		margin-right: auto;
		height: 35px;
		left: 0px;
		overflow: hidden;
	}

	.container-map .sparks {
		width: 11px;
		height: 11px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		opacity: 1;
	}

	.container-map::before {
	    position: absolute;
	    top: 0px;
	    left: 0;
	    height: 100%;
	    display: block;
		background-size: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	}

}