body {
  height: 100%;
  /*background-color: #fff !important;*/
}

#home_section {
  height: 100%;
  padding-top: 200px;
}

.v_blue #loader-wrapper .loader-section,
.v_navy_blue #loader-wrapper .loader-section {
  background-color: #4965E1;
}

.mgc_blue_bg {
  background-color: rgba(47, 76, 200, 0.8);
}

.banner_token {
  border-radius: 2px;
}

.title_blue_dark h4 {
  color: #4E7CE3;
}
.title_blue_dark.title_border h4::before {
  background-color: #4E7CE3;
}

h6 span {
  color: #7a7a7a;
}

.box_wrap i {
  color: #4E7CE3;
  font-size: 50px;
}

#values .box_wrap {
  background-image: -webkit-linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  background-image: linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  border-radius: 0px;
}

.box_wrap button{
  background-image: -webkit-linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  background-image: linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  border-radius: 0px;
}

#values .box_wrap h4,
#values .box_wrap p {
  color: #fff;
}

.team_box h4 {
  color: #4E7CE3;
}
.team_box p {
  color: #7a7a7a !important;
}

.btn_text{
  text-align: center;
  text-transform: capitalize;
  display:block;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  padding: 7px 15px;
}

.btn_textsmall{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
}

.btn_collapse{
  top: -20px;
  text-align: center;
  padding: 20px 15px;
  background: #2756bd;
}

.logo_light{
  width: 300px;
}

@media screen and (max-width:991px) {
  .banner_image_right{
    display: none;
  }
  #home_section{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }

}

@media screen and (max-width:768px) {
  .banner_image_right{
    display: none;
  }
  #home_section{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }

}

@media screen and (max-width:576px) {
  .banner_image_right{
    display: none;
  }
  #home_section{
    height: 120%;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }

}