body {
  height: 100%;
  /*background-color: #fff !important;*/
}

#home_section {
  height: 100%;
  padding-top: 200px;
}

.v_blue #loader-wrapper .loader-section,
.v_navy_blue #loader-wrapper .loader-section {
  background-color: #4965E1;
}

.mgc_blue_bg {
  background-color: rgba(47, 76, 200, 0.8);
}

.banner_token {
  border-radius: 2px;
}

.title_blue_dark h4 {
  color: #4E7CE3;
}
.title_blue_dark.title_border h4::before {
  background-color: #4E7CE3;
}

h6 span {
  color: #7a7a7a;
}

.box_wrap i {
  color: #4E7CE3;
  font-size: 40px;
}

#values .box_wrap {
  background-image: -webkit-linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  background-image: linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  border-radius: 0px;
}

.box_wrap button{
  background-image: -webkit-linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  background-image: linear-gradient(130deg, rgba(55,102,207,1) 0%, rgba(55,102,207,1) 100%);
  border-radius: 0px;
}

#values .box_wrap h4,
#values .box_wrap p {
  color: #fff;
}

.team_box h4 {
  color: #4E7CE3;
}
.team_box p {
  color: #7a7a7a !important;
}

.btn_text{
  text-align: center;
  text-transform: capitalize;
  display:block;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  padding: 7px 15px;
}

.btn_textsmall{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
}

.btn_collapse{
  top: -20px;
  text-align: center;
  padding: 20px 15px;
  background: #2756bd;
}

#values .btn_collapse {
  top: auto !important;
}
#values i {
  color: #ffffff;
  /* color: #FF7000; */
  /*color: rgba(255, 255, 255, 0.3);*/
}
#values button.box_wrap {
  display: block;
  width: 100%;
}

.hiw-box {
  display: inline-block;
  text-align: center;
  position: relative;
}
.hiw-box svg {
  fill: #fff;
  height: 50px;
  width: auto;
}
.hiw-box.rotate-20 svg {
  transform: rotate(20deg);
}
.hiw-box.rotate-m20 svg {
  transform: rotate(-20deg);
}
.hiw-box p {
  position: absolute;
  bottom: -100%;
  color: #fff;
  margin-bottom: 0;
  max-width: 100px;
  line-height: 20px;
}
.hiw-box.hiw-divider {
  margin: 0 20px;
}
.hiw-box.hiw-divider svg {
  width: 100px;
  height: auto;
}

.logo_light{
  width: 250px;
}

.col-12 img {
    display:block;
    margin:auto;
}

.sedr_big{
  visibility: visible;
}

.sedr_small{
  visibility: hidden;
  width: 0%;
  height: 0%;
}

.nav-icon{
  display: block;
  padding: 16px 0;
  position:relative;
}

.nav-icon:hover{
  color: #FF7000;
}

.sticky-container{
    display: visible;
    padding:0px;
    margin:0px;
    position:fixed;
    /*right:-170px;*/
    left:-170px;
    top:380px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    border-radius: 4px;
    list-style-type:none;
    background-color: #4E7DE4;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
    text-align: right;
}
.sticky li:hover{
    /*margin-left:-115px;*/
    margin-right:-115px;
}
.sticky li img{
    /*float:left;*/
    float:right;
    margin:5px 4px;
    /*margin-right:5px;*/
    margin-left:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#ffffff;
}
.sticky li p a:hover{
    text-decoration:underline;
}

.nav-fixed .nav-icon{
  display: none;
}

.text_md_center{
  text-align: center;
}

.spinner-container
{
    position: fixed;
    z-index: 2000;
    top: 75%;
    left: 50%;
}

.loaded #loader-animation {
  /* visibility: hidden;
  opacity: 0;
	-webkit-transition: all 0.1s 0.5s ease-out;  
	transition: all 0.1s 0.5s ease-out;  */
}

.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(200%);  
	-ms-transform: translateY(200%); 
	-moz-transform: translateY(200%);
	transform: translateY(200%);  
	-webkit-transition: all 0.5s 1s ease-out;  
	transition: all 0.3s 1s ease-out;
}








.sk-folding-cube {
  margin: 0px auto;
  position: relative;
  top: -65px;

  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.mask{
  -webkit-mask-image: url(../images/mask.png);
  mask-image: url(../images/mask.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.mask2{
  -webkit-mask-image: url(../images/mask2.png);
  mask-image: url(../images/mask2.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}




.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner_square{
  background-color: #ffffff;
  border-radius: 0%;
  height: 12px;
  width: 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 15px;

}


.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0px auto;
  position: relative;
  top: -65px;

  -webkit-mask-image: url(../images/mask.png);
  mask-image: url(../images/mask.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ffffff;

  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }



.spinner_circle {
  width: 40px;
  height: 40px;

  margin: 0px auto;
  position: relative;
  top: -65px;
}

.spinner_point{
  background-color: #ffffff;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 15px;

}

.double-bounce1, .double-bounce2, .double-bounce3, .double-bounce4, .double-bounce5 {
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  border-radius: 100%;

  /* border-radius: 50%;
  background-color: #ffffff; */
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 4.0s infinite ease-in-out;
  animation: sk-bounce 4.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.double-bounce3 {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}



@media screen and (max-width:991px) {
  .banner_image_right{
    display: none;
  }
  #home_section{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .sticky-container{
    display: none;
  }
}

@media screen and (max-width:768px) {
  .banner_image_right{
    display: none;
  }
  #home_section{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .sedr_big{
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
  }

  .sedr_small{
    visibility: visible;
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width:576px) {
  .banner_image_right{
    display: none;
  }
  #home_section{
    height: 120%;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .sedr_big{
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
  }

  .sedr_small{
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}


